* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

@keyframes circle {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

body #app {
  background: rgba(0, 0, 0, 0.4) url("") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  body #app audio {
    z-index: 2; }
  body #app .disc-container {
    position: relative;
    z-index: 2; }
    body #app .disc-container .pointer {
      width: 24vw;
      position: absolute;
      z-index: 2;
      left: 45vw; }
    body #app .disc-container .disc {
      position: absolute;
      top: 20vw;
      left: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 13.5vh; }
      body #app .disc-container .disc .icon-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -1vw;
        margin-left: -10vw;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5); }
        body #app .disc-container .disc .icon-wrapper svg {
          width: 10vw;
          height: 10vw;
          fill: #fff; }
        body #app .disc-container .disc .icon-wrapper .icon-pause {
          display: none; }
      body #app .disc-container .disc .ring {
        width: 72vw;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -27vw;
        margin-left: -36vw; }
      body #app .disc-container .disc .light {
        width: 72vw;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -27vw;
        margin-left: -36vw; }
      body #app .disc-container .disc .cover {
        border-radius: 50%;
        width: 44.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -13.25vw;
        margin-left: -22.25vw;
        transition: all 0.2s; }
  body #app .disc-container.playing .disc .icon-wrapper .icon-pause {
    display: block; }
  body #app .disc-container.playing .disc .icon-wrapper .icon-play {
    display: none; }
  body #app .song-description {
    z-index: 2;
    color: #AEABAC;
    text-align: center;
    line-height: 2;
    margin-top: 70vw; }
    body #app .song-description h1 {
      color: white;
      font-size: 18px; }
    body #app .song-description .lyric {
      height: 72px;
      overflow: hidden; }
      body #app .song-description .lyric .lines {
        transition: all 0.3s; }
        body #app .song-description .lyric .lines p {
          font-size: 14px;
          line-height: 24px;
          color: #5e595b; }
        body #app .song-description .lyric .lines p.active {
          color: white; }
  body #app .links {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D43B32; }
    body #app .links a {
      width: 38.5vw;
      margin: 1em;
      text-align: center;
      border: 1px solid #D43B32;
      background: transparent;
      padding: 1.5vw;
      color: #D43B32;
      text-decoration: none;
      border-radius: 1.3vw;
      letter-spacing: 1vw; }
    body #app .links .main {
      background: #D43B32;
      color: white; }

body #app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(5px);
  z-index: 1; }
