* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input {
  font: inherit;
  border: none; }

.page {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 1.5; }
  .page .aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh; }
    .page .aside .newSong {
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #999; }
    .page .aside .newSong.active {
      background: #D5D4D5; }
    .page .aside #songList-container {
      flex-grow: 1; }
      .page .aside #songList-container .songList li {
        padding: 10px;
        border-bottom: 1px solid #ddd; }
      .page .aside #songList-container .songList li.active {
        background: #d5d4d5; }
    .page .aside .uploadArea #upLoadContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px dashed #ddd;
      border-radius: 10px; }
      .page .aside .uploadArea #upLoadContainer #upLoadButton {
        padding: 20px;
        text-align: center;
        cursor: pointer; }
  .page .main {
    padding-left: 20px;
    flex-grow: 1;
    background: #D5D4D5; }
    .page .main .form {
      display: flex;
      flex-direction: column;
      font-size: 14px; }
      .page .main .form .row {
        padding: 10px;
        display: flex; }
        .page .main .form .row label input[type="text"] {
          border: 1px solid #ddd;
          border-radius: 5px; }
        .page .main .form .row button {
          border: none;
          background: #fff;
          border: 1px solid #ddd;
          padding: 5px 10px;
          border-radius: 5px; }

@keyframes loading {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.1); } }

.loading {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1; }

.loading.active {
  visibility: visible; }

.loading::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background: #3f545e;
  animation: loading 1s infinite alternate-reverse linear; }
