* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

input {
  font: inherit;
  border: none; }

.page {
  display: flex;
  font-size: 12px;
  line-height: 1.5;
  flex-direction: column;
  height: 100vh; }
  .page header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 20px 20px;
    background-color: #C72E2E;
    cursor: pointer;
    height: 10vh; }
    .page header .icon {
      width: 30px;
      height: 30px;
      fill: #fff; }
    .page header a {
      font-size: 26px;
      line-height: 30px;
      color: #fff; }
  .page .main-container {
    height: 90vh;
    display: flex;
    flex-direction: row; }
    .page .main-container .aside {
      display: flex;
      flex-direction: column;
      width: 200px; }
      .page .main-container .aside .newSong {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #999; }
      .page .main-container .aside .newSong.active {
        background: #e7e6e7; }
      .page .main-container .aside #songList-container {
        flex-grow: 1; }
        .page .main-container .aside #songList-container .songList li {
          padding: 10px;
          border-bottom: 1px solid #ddd; }
        .page .main-container .aside #songList-container .songList li.active {
          background: #e7e6e7; }
      .page .main-container .aside .uploadArea #upLoadContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px dashed #ddd;
        border-radius: 10px; }
        .page .main-container .aside .uploadArea #upLoadContainer #upLoadButton {
          padding: 20px;
          text-align: center;
          cursor: pointer; }
    .page .main-container .main {
      padding-left: 20px;
      flex-grow: 1;
      background: #e7e6e7; }
      .page .main-container .main .form {
        display: flex;
        flex-direction: column;
        font-size: 14px; }
        .page .main-container .main .form .row {
          padding: 10px;
          display: flex; }
          .page .main-container .main .form .row label input[type="text"] {
            border: 1px solid #ddd;
            border-radius: 5px; }
          .page .main-container .main .form .row button {
            border: none;
            background: #fff;
            border: 1px solid #ddd;
            padding: 5px 10px;
            border-radius: 5px; }

@keyframes loading {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.1); } }

.loading {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1; }

.loading.active {
  visibility: visible; }

.loading::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background: #C72E2E;
  animation: loading 1s infinite alternate-reverse linear; }
