* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.page {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 1.5; }
  .page .aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh; }
    .page .aside .newSong {
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #999; }
    .page .aside .newSong.active {
      background: #D5D4D5; }
    .page .aside .songList {
      flex-grow: 1; }
      .page .aside .songList li {
        padding: 10px;
        border-bottom: 1px solid #ddd; }
      .page .aside .songList li.active {
        background: #d5d4d5; }
    .page .aside #upLoadContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px dashed #ddd;
      border-radius: 10px; }
      .page .aside #upLoadContainer #upLoadButton {
        padding: 20px 5px;
        text-align: center;
        cursor: pointer; }
    .page .aside #uploadStatus {
      height: 3em; }
  .page .main {
    flex-grow: 1; }
    .page .main .form {
      display: flex;
      flex-direction: column; }
