* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input {
  font: inherit;
  border: none; }

.page {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 1.5; }
  .page .aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh; }
    .page .aside .newSong {
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #999; }
    .page .aside .newSong.active {
      background: #D5D4D5; }
    .page .aside .songList {
      flex-grow: 1; }
      .page .aside .songList li {
        padding: 10px;
        border-bottom: 1px solid #ddd; }
      .page .aside .songList li.active {
        background: #d5d4d5; }
    .page .aside #upLoadContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px dashed #ddd;
      border-radius: 10px; }
      .page .aside #upLoadContainer #upLoadButton {
        padding: 20px;
        text-align: center;
        cursor: pointer; }
    .page .aside #uploadStatus {
      height: 3em; }
  .page .main {
    padding-left: 20px;
    flex-grow: 1;
    background: #D5D4D5; }
    .page .main .form {
      display: flex;
      flex-direction: column;
      font-size: 14px; }
      .page .main .form .row {
        padding: 10px;
        display: flex; }
        .page .main .form .row label input[type="text"] {
          border: 1px solid #ddd;
          border-radius: 5px; }
        .page .main .form .row button {
          border: none;
          background: #fff;
          border: 1px solid #ddd;
          padding: 5px 10px;
          border-radius: 5px; }
