* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
body{
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background: white;
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #D43C33;
            padding: 16px 10px 16px 6px;
            .brand{
               display: flex;
               align-items: center;
               color: #fff;
               .icon{
                width: 30px;
                height: 30px;
               }
               h1{
                   font-size: 22px;
               }
            }
            .upload{
                color: #fff;
            }
        }
        .globalTabs{
            .tabs-nav{
                display: flex;
                border-bottom: 1px solid #cccccc;
                li{
                    width: 33.33%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .text{
                        padding: 10px 5px;
                        position: relative;
                        top: 1px;
                    }
                }
                li.active{
                    color: #D43C33;
                    .text::after{
                        content: '';
                        position: absolute;
                        height: 2px;
                        background: #D43C33;
                        bottom: 1px;
                        left: 0;
                        width: 100%;
                    }
                }
               
            }
        }
    }
    main{
        margin-top: 105px;
        .tabs-content{ 
            .page-1{
                .playlists{
                    .sectionTitle{
                        border-left: 2px solid #D43C33;
                        font-size: 17px;
                        line-height: 1;
                        padding-left: 8px;
                        margin: 20px 0 8px;
                    }
                    .songs{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        font-size: 13px;
                        li{
                            width: 32.8%;
                            margin: 8px 0;
                            img{
                                width: 100%;
                            }
                            p{
                                line-height: 18px;
                                padding: 0 6px;
                                height: 36px;
                            }
                        }
                    }
                }
                .songs{
                    .sectionTitle{
                        border-left: 2px solid #D43C33;
                        font-size: 17px;
                        line-height: 1;
                        padding-left: 8px;
                        margin: 20px 0 8px;
                    }
                    .list{
                        margin-top: 18px;
                    }
                }
                .art{
                    padding-top: 38px;
                    padding-bottom: 18px;
                    text-align: center;
                    .logo{
                        svg{
                            width: 230px;
                            height: 44px;
                        }
                    }
                    .link-wrapper{
                        display: inline-block;
                        border: 1px solid;
                        line-height: 40px;
                        font-size: 16px;
                        padding: 0 19px;
                        border-radius: 20px;
                        color:#D43C33;
                        margin-top: 10px;
                        margin-bottom: 5px;
                    }
                    .copyright{
                        font-size: 12px;
                        color: #888;
                        transform: scale(.75);
                    }
                }
            }
            li.active{
                display: block;
            }
        }
        .noCollapse::before{
            content:'';
            display: table;
          }
          .noCollapse::after{
            content:'';
            display: table;
          }
          
    }
}