*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 @keyframes circle {
     0%{
         transform: rotate(0)
     }
     100%{
         transform: rotate(360deg)
     }
 }
body{
    #app::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url(../img/cover4.jpg) no-repeat center;
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
    }
    #app{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .disc-container{
            position: relative;
            .pointer{
                width: 24vw;
                position: absolute;
                left: 45vw;
            }
            .disc{
                display: flex; 
                justify-content: center; 
                align-items: center; 
                margin-top: 18vw; 
                .icon-wrapper{
                    position: absolute; 
                    z-index: 1; 
                    display: flex; 
                    justify-content: center;
                    align-items: center;
                    border: 1px solid white; 
                    height: 20vw; 
                    width: 20vw;
                    border-radius: 50%; 
                    background: rgba(0,0,0,0.5);
                    svg{
                        width: 10vw;
                        height: 10vw; 
                        fill: #fff;
                    }
                    .icon-pause{
                        display: none;
                    }
                }
                .ring{
                    width: 72vw;
                }
                .light{
                    width: 72vw; 
                    position: absolute; 
                }
                .cover{
                    width: 44.5vw;
                    position: absolute; 
                    border-radius: 50%;  
                    animation: circle 20s infinite linear; 
                    animation-play-state: paused;
                }
            }
            .disc-container.playing{
                .disc{
                    .icon-wrapper{
                        .icon-pause{
                            display: block;
                        }
                        .icon-play{
                            display: none;
                        }
                    }
                    .cover{
                        animation-play-state: running;
                    }
                }
            }
        }
        .song-description{
            flex-grow: 1;
            color: #AEABAC;
            text-align: center;
            line-height: 2;
            margin-top: 20px;
            h1{
                color: white;
	            font-size: 18px;
            }
            .lyric{
                height: 72px;
	            overflow: hidden;
                .lines{
                    p{
                        font-size: 14px;
	                    line-height: 24px;
                    }
                    p.active{
                        color: white;
                    }
                }
            }
        }
        .links{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #D43B32;
            a{
                width: 38.5vw;
                margin: 1em;
                text-align: center;
                border: 1px solid #D43B32;
                background: transparent;
                padding: 1.5vw;
                color: #D43B32;
                text-decoration: none;
                border-radius: 1.3vw;
                letter-spacing: 1vw;
            }
            .main{
                background: #D43B32;
	            color: white;
            }
        }
    }
}